*.iml
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/caches
/.idea/misc.xml
/.idea/assetWizardSettings.xml
/.idea/dictionaries
/.idea/tasks.xml
/.idea/gradle.xml

.gradle
/build

*.apk
*.ap_

/local.properties

.DS_Store

/captures
.externalNativeBuild

google-services.json
fabric.properties